<div class="form">

<label class="form__label">
    [text* your-name class:form__input placeholder "Wpisz swoje imię"] </label>

<label class="form__label">
    [text* your-last-name class:form__input placeholder "Wpisz swoje nazwisko"] </label>

<label class="form__label">
    [text* your-email class:form__input placeholder "Wpisz swój e-mail"] </label>

<label class="form__label">
    [text* your-tel class:form__input placeholder "Wpisz swój telefon"] </label>

<label class="form__label">
    [acceptance acceptance-rodo class:form__rodo] Wyrażam zgodę na przetwarzanie podanych przeze mnie danych osobowych w niniejszym formularzu, w celu otrzymania odpowiedzi na zadane pytanie / rekrutacji przez Aara Sprzedaż Sp. z o.o. <a href="/polityka-prywatnosci/" target="_blank"">Polityka Prywatności</a> [/acceptance]</label>

<label class="form__label ">
    [acceptance acceptance-marketing class:form__rodo] Wyrażam zgodę na przesyłanie informacji handlowej za pomocą środków komunikacji elektronicznej. <a href="/polityka-prywatnosci/" target="_blank"">Polityka Prywatności</a>
    [/acceptance]</label>

[submit class:btn class:btn--accent-blue "Wyślij wiadomość"]

</div>